{% extends 'EmagisterBannersBundle::layout.html.twig' %}

{% block title %}
{{ parent() }} - Campaign create
{% endblock %}

{% block page %}

<h1>Campaign creation</h1>

<form action="{{ path('campaign_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('campaign') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}